<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <div class="form-container">
    <div class="row">
      Name: <%= f.text_field :name %>
    </div>
    <div class="row">
      Email: <%= f.text_field :email %>
    </div>
    <div class="row">
      Password: <%= f.password_field :password %>
    </div>
    <div class="row">
      Password Confirmation: <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "Submit" %>
  </div>
<% end %>